body{
    padding: 0;
    margin: 0;
    font-family: 'Tahoma';
    font-style: normal;
}
.navbar {
    text-align: center;
    margin: 0;
}
.nav {
    display: inline-block;
    margin: 0 36px;
    padding: 29.4px 0;
}
.nav-link {
    color: #FF0000;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-link:hover {
    border-bottom: 1px solid #FF0000;
}
.banner {
    width: 100%;
}
.main {
    padding: 48px 67.5px 42px;
    text-align: center;
}
.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 0;
    margin-bottom: 38px;
}
.text-one {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 0;
    margin-bottom: 28px;
}
.text-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 0;
    margin-bottom: 66px;
}
.button {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 18px 0;
    text-decoration: none;
}
.button:hover {
    opacity: 0.7;
}
.footer-text {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    padding: 40px 105px 29px;
    margin: 0 0 0;
}